﻿@model IEnumerable<PhimViewModel>

@{
    ViewData["Title"] = "Trang chủ - CGV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    var nextPage = (int)ViewBag.Page + 1;
    var prevPage = (int)ViewBag.Page - 1 < 0 ? 1 : (int)ViewBag.Page - 1;
    var disableNext = Model.ToList().Count() < 8 ? "disable" : "";
    var disablePrev = (int)ViewBag.Page == 1 ? "disable" : "";
}
<!-- ==========Banner-Section========== -->
    <section class="banner-section client-section speaker-section" style="margin-top: -100px">
        <div class="banner-bg bg_img bg-fixed" data-background="~/assets/images/banner/banner01.jpg"></div>
        <div class="container">
            <div class="client-slider owl-carousel owl-theme">
                @foreach(var item in @ViewBag.Slider)
                {
                    <div class="client-item">
                        <img src="~/sliders/@item.Anh" style="height:600px" alt="client">
                    </div>
                }
            </div>

        </div>
    </section>
    <!-- ==========Banner-Section========== -->

<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="assets/images/ticket/ticket-bg01.jpg">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">Chào mừng đến với CGV </h6>
                        <h3 class="title">Bạn đang tìm kiếm điều gì?</h3>
                    </div>
                </div>


                <div class="col-lg-6 mb-20">
                    <ul class="tab-menu ticket-tab-menu">
                        <li class="active">
                            <div class="tab-thumb">
                                <img src="~/assets/images/ticket/ticket-tab01.png" alt="ticket">
                            </div>
                            <span>Phim</span>
                        </li>
                        <li>
                            <div class="tab-thumb">
                                <img src="~/assets/images/ticket/ticket-tab02.png" alt="ticket">
                            </div>
                            <span>Events</span>
                        </li>
                        <li>
                            <div class="tab-thumb">
                                <img src="~/assets/images/ticket/ticket-tab03.png" alt="ticket">
                            </div>
                            <span>Thể loại</span>
                        </li>
                    </ul>
                </div>

            </div>
            <partial name="_SearchCGV" />
        </div>
    </div>
</section>
<!-- ==========Ticket-Search========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="tab">
            <div class="section-header-2">
                <div class="left">
                    <h2 class="title">Phim</h2>
                    <p>Hãy chắc chắn không bỏ lỡ những bộ phim ngày hôm nay.</p>
                </div>
                <ul>
                    @if (ViewBag.trangThai == "DangChieu")
                    {
                        <li class="active1" style="padding: 5px 20px 5px 20px; color: white">
                            <a asp-controller="Home" asp-action="Index" asp-route-trangThai="DangChieu" asp-route-index=1 style="color: white" >Đang chiếu</a>

                        </li>
                        <li style="padding: 5px 20px 5px 20px;">
                            <a asp-controller="Home" asp-action="Index" asp-route-trangThai="SapChieu" asp-route-index=1> Sắp chiếu</a>

                        </li>
                    }
                    else
                    {
                        <li style="padding: 5px 20px 5px 20px;">
                            <a asp-controller="Home" asp-action="Index" asp-route-trangThai="DangChieu" asp-route-index=1 >Đang chiếu</a>

                        </li>
                        <li class="active1" style="padding: 5px 20px 5px 20px; color: white">
                            <a asp-controller="Home" asp-action="Index" asp-route-trangThai="SapChieu" asp-route-index=1 style="color: white" >Sắp chiếu</a>

                        </li>
                    }
                </ul>
            </div>
            <div class="tab-area mb-30-none">
                <div class="tab-item active">
                    <div class="row mb-10 justify-content-center">
                        @if (@TempData["ErrorMessages"] != null)
                        {
                            <h3>
                                @TempData["ErrorMessages"]
                            </h3>

                        }
                        else
                        {
                            @foreach (var item in Model)
                            {

                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div style="position:relative;z-index: 10;">
                                            <img src="~/canhbaos/@item.CanhBao.Anh" style="width:60px;height:50px">
                                        </div>
                                        <div class="movie-thumb c-thumb" style="margin-top: -50px;">
                                            <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">
                                                <img src="~/posters/@item.Anh" alt="movie" height="300px">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">@item.TenPhim</a>
                                                <p style="font-size:13px;padding: 16px 0 0 0;">Thể Loại: @item.TheLoais</p>
                                                <p style="font-size:13px;">Thời lượng: @item.ThoiLuong phút</p> 
                                                <p style="font-size:13px;">Khởi chiếu: @item.KhoiChieu.ToShortDateString()</p>
                                            </h5>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <span class="content"> Rate: @item.TotalRate</span>
                                                </li>
                                                <li class="active1 right">
                                                    @if(Context.Session.GetString("KhachHangId") != null)
                                                    {
                                                        <a asp-controller="LichChieu" asp-action="LichChieu" asp-route-phimId="@item.PhimId" style="color: white;padding: 0 7px">Mua vé</a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Account" asp-action="DangNhap" style="color: white;padding: 0 7px">Mua vé</a>
                                                    }
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="pagination-area text-center" style="width: 100%">
                            @foreach (var item in Model)
                            {
                                <a asp-controller="Home" asp-action="Index" asp-route-trangThai="@item.TrangThai" asp-route-index="@prevPage" class="@disablePrev"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
                                @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
                                {
                                    if(ViewBag.Page == i)
                                    {
                                        
                                        <a asp-controller="Home" asp-action="Index" asp-route-trangThai="@item.TrangThai" asp-route-index="@i" class="active">@i </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Home" asp-action="Index" asp-route-trangThai="@item.TrangThai" asp-route-index="@i">@i </a>
                                    }
                                    
                                }

                                <a asp-controller="Home" asp-route-trangThai="@item.TrangThai" asp-action="Index" asp-route-index="@nextPage" class="@disableNext"><span>Next</span><i class="fas fa-angle-double-right"></i></a>
                                break;
                            }


                        </div>
                    </div>
                </div>
                
                <div class="tab-item">
                    <div class="row mb-10 justify-content-center">
                        @if (@TempData["ErrorMessages"] != null)
                        {
                            <h3>
                                @TempData["ErrorMessages"]
                            </h3>

                        }
                        else
                        {

                            @foreach (var item in Model)
                            {

                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div style="position:relative;z-index: 10;">
                                            <img src="~/canhbaos/@item.CanhBao.Anh" style="width:60px;height:50px">
                                        </div>
                                        <div class="movie-thumb c-thumb" style="margin-top: -50px;">
                                            <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">
                                                <img src="~/posters/@item.Anh" alt="movie" height=300px>
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="#0">@item.TenPhim</a>
                                                <p style="font-size:13px;padding: 16px 0 0 0;">Thể Loại: @item.TheLoais</p>
                                                <p style="font-size:13px;">Thời lượng: @item.ThoiLuong phút</p>
                                                <p style="font-size:13px;">Khởi chiếu: @item.KhoiChieu.ToShortDateString()</p>
                                            </h5>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <span class="content"> Rate: @item.TotalRate</span>
                                                </li>
                                                <li class="active1 right">
                                                    
                                                    @if(Context.Session.GetString("KhachHangId") != null)
                                                    {
                                                        <a asp-controller="LichChieu" asp-action="LichChieu" asp-route-phimId="@item.PhimId" style="color: white;padding: 0 7px">Mua vé</a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Account" asp-action="DangNhap" style="color: white;padding: 0 7px">Mua vé</a>
                                                    }
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        <div class="pagination-area text-center">

                            <a @disablePrev asp-controller="Home" asp-action="Index" asp-route-trangThai="@TempData["trangThai"]" asp-route-index="@prevPage"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
                            @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
                            {

                                <a asp-controller="Home" asp-action="Index" asp-route-trangThai="@TempData["trangThai"]" asp-route-index="@i">@i </a>
                            }

                            <a @disableNext asp-controller="Home" asp-route-trangThai="@TempData["trangThai"]" asp-action="Index" asp-route-index="@nextPage"><span>Next</span><i class="fas fa-angle-double-right"></i></a>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->

 <partial name="_PhimHot"/>
