﻿@{
    Layout = "_AdminLayout";
}

@model IEnumerable<PhimViewModel>


@{
    ViewData["Title"] = "Index";
    var nextPage = (int)ViewBag.Page + 1;
    var prevPage = (int)ViewBag.Page - 1 < 0 ? 1 : (int)ViewBag.Page - 1;
    var disableNext = Model.ToList().Count() < 8 ? "disable" : "";
    var disablePrev = (int)ViewBag.Page == 1 ? "disable" : "";
}

<h1>Danh sách phim</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>

<div class="row">
    <form asp-action="Index" method="post">
        <div class="row">
            <div class="col-4">
                <input id="timKiem" name="timKiem" class="form-control" placeholder="Nhập tên phim ..." />
            </div>
            <div class="col-4">
                <select id="trangThaiPhim" name="trangThaiPhim" class="form-select form-control" style="float:right">
                    <option selected="selected" value="">Tất Cả Phim</option>
                    <option value="SapChieu">Phim Sắp Chiếu</option>
                    <option value="DangChieu">Phim Đang Chiếu</option>
                    <option value="DaChieu">Phim Đã Chiếu</option>
                </select>
            </div>
            <div class="col-4">
                <input type="submit" value="Tìm kiếm" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>
@if (Model == null)
{
    <h1>Không tìm thấy kết quả phù hợp !</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th width="25%">
                    @Html.DisplayNameFor(model => model.TenPhim)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.Anh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TheLoais)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThoiLuong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KhoiChieu)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="25%">
                        @Html.DisplayFor(modelItem => item.TenPhim)
                    </td>
                    <td width="15%">
                        <img style="width:120px" height="152px" src="~/posters/@item.Anh" alt=@item.TenPhim />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TheLoais)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiLuong)
                    </td>
                    <td>
                        @{
                            string ngayKhoiChieu = item.KhoiChieu.ToString("dd/MM/yyyy");
                        }
                        @Html.DisplayFor(modelItem => ngayKhoiChieu)
                    </td>
                    <td>
                    <a class="nav-link text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-pen" style="font-size: x-large; color: darkcyan"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown" style="left: -100px">
                        <li>
                            <a asp-action="Edit" asp-route-phimId="@item.PhimId"><i class="fa-solid fa-file-pen"></i>&nbsp Chỉnh sửa</a>
                        </li>
                        @*<li>
                            <a asp-action="Details" asp-route-phimId="@item.PhimId"><i class="fa-solid fa-file-lines"></i>&nbsp Chi tiết</a>
                        </li>*@
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a href="" class="open" data-toggle="modal" data-target="#myModal" data-id="@item.PhimId"><i class="fa-solid fa-trash"></i>&nbsp Xóa</a>
                        </li>
                    </ul>
                </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
     <div class="btn-group mr-2" role="group" aria-label="First group">
         <a class="prev @disablePrev btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="Phim" asp-action="Index" asp-route-timKiem="@ViewBag.TimKiem"
         asp-route-trangThaiPhim="@ViewBag.TrangThaiPhim" asp-route-index="@prevPage">&laquo;</a>

     </div>
     <div class="btn-group mr-2" role="group" aria-label="Second group">
         @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
         {
             if(@ViewBag.Page == i)
                {
                    <a class="btn btn-white mr-2 btn-white-group activePage" style="border:0.6px solid green" 
             asp-controller="Phim" asp-action="Index" asp-route-timKiem="@ViewBag.TimKiem"
             asp-route-trangThaiPhim="@ViewBag.TrangThaiPhim" asp-route-index="@i">@i </a>
                }
                else
                {
                    <a class="btn btn-white mr-2 btn-white-group" style="border:0.6px solid green" 
             asp-controller="Phim" asp-action="Index" asp-route-timKiem="@ViewBag.TimKiem"
             asp-route-trangThaiPhim="@ViewBag.TrangThaiPhim" asp-route-index="@i">@i </a>
                    
                }
                
         }
     </div>
     <div class="btn-group" role="group" aria-label="Third group">
         <a class="next @disableNext btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="Phim" asp-action="Index" asp-route-timKiem="@ViewBag.TimKiem"
         asp-route-trangThaiPhim="@ViewBag.TrangThaiPhim" asp-route-index="@nextPage">&raquo;</a>
     </div>
 </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <form asp-controller="Phim" asp-action="Delete" method="post">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="modal-title" style="float: left">Xác nhận xóa</h4>
                        <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                        <hr />
                        <h3>Bạn chắc chắn muốn xóa phim này ?</h3>
                        <input name="phimId" id="phimId" hidden />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <input type="submit" value="Xóa" class="btn btn-danger" />
                    </div>
                </div>
            </form>
        </div>
    </div>

}
@section Scripts {
<script>
    $(document).ready(function(){
        $(".open").click(function(){
            $('#phimId').val($(this).data('id'));
        })
        if('@TempData["DeleteSuccess"]'=="Added"){
              toastr.success('Delete Successfully !');
          }
         if('@TempData["DeleteError"]'=="Added"){
              toastr.error('Delete Error !');
         }
        })
</script>
}
