﻿@inject IPhimServices phimServices;
@{
    var listPhimHot = await phimServices.GetPhimHotAsync(StaticDetails.PhimAPIPath + "PhimHot");
}
<div class="container">
    <div class="padding-top padding-bottom" style="padding-top: 0px">
        <div class="tab-area mb-30-none">
            <div class="tab-item active">
                <div class="section-header-2 text-center justify-content-center">
                        <h3>- PHIM HOT -</h3>
                </div>
                <div class="row mb-10 justify-content-center" >
                    
                    @foreach (var item in @listPhimHot)
                    {
                        <div class="col-sm-6 col-lg-3">
                            <div class="movie-grid">
                                <div style="position:relative;z-index: 10;">
                                    <img src="~/canhbaos/@item.CanhBao.Anh" style="width:60px;height:50px">
                                </div>
                                <div class="movie-thumb c-thumb" style="margin-top: -50px;">
                                    <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">
                                        <img src="~/posters/@item.Anh" alt="movie" height="300px">
                                    </a>
                                </div>
                                <div class="movie-content bg-one">
                                    <h5 class="title m-0">
                                        <a asp-controller="Phim" asp-action="ChiTietPhim" asp-route-phimId="@item.PhimId">@item.TenPhim</a>
                                        <p style="font-size:13px;padding: 16px 0 0 0;">Thể Loại: @item.TheLoais</p>
                                        <p style="font-size:13px;">Thời lượng: @item.ThoiLuong phút</p>
                                        <p style="font-size:13px;">Khởi chiếu: @item.KhoiChieu.ToShortDateString()</p>
                                    </h5>
                                    <ul class="movie-rating-percent">
                                        <li>
                                            <span class="content"> Rate: @item.TotalRate</span>
                                        </li>
                                        <li class="active1 right">
                                            <a asp-controller="LichChieu" asp-action="LichChieu" asp-route-phimId="@item.PhimId" style="color: white;padding: 0 7px">Mua vé</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

