﻿@inject IThanhPhoServices thanhPhoService;
@{
    var thanhPhoList = (await thanhPhoService.GetAllAsync(StaticDetails.ThanhPhoAPIPath + "GetAll")).ToList();
}
<script type="text/javascript">
        function loadCenimal(item) {
            $.ajax({
                type: "GET",
                url: '/Home/GetCumRapByThanhPhos?thanhPhoId=' + parseInt(item.value),
                success: function (data) {
                    const selectElement = document.querySelector('#cumrap')
                    const list = document.querySelector('#cumrap').nextElementSibling.querySelector('.list')
                    const currentSelect = document.querySelector('#cumrap').nextElementSibling.querySelector('.current')
                    let html = ''
                    let html1 = ''
                    data.forEach(function(value, i) {
                        if(i==0) {
                            html += '<option selected="selected" value="' + value.cumRapId + '"> ' + value.tenRap + ' </option>'
                             html1 += `<li data-value="${i}" class="option selected">${value.tenRap}</li>`
                             currentSelect.textContent = value.tenRap
                        }
                            else {
                                html += '<option value="' + value.cumRapId + '"> ' + value.tenRap + ' </option>'
                        html1 += `<li data-value="${i}" class="option">${value.tenRap}</li>`
                            }

                    })
                    selectElement.innerHTML = html
                    list.innerHTML = html1

                },
                error: function (xhr, status, error) {

                }
            });

        };



        //function loadDate(item) {
        //    $.ajax({
        //        type: "GET",
        //        url: '/Home/GetLichChieuInCumRap?cumRapId=' + parseInt(item.value),
        //        success: function (data) {

        //            const selectElement = document.querySelector('#ngaychieu')
        //            const list = document.querySelector('#ngaychieu').nextElementSibling.querySelector('.list')
        //            const currentSelect = document.querySelector('#ngaychieu').nextElementSibling.querySelector('.current')
        //            let html = ''
        //            let html1 = ''
        //            data.forEach(function(value, i) {
        //                if(i==0) {
        //                    html += '<option selected="selected" value="' + value.cumRapId + '"> ' + value.xuatChieu + ' </option>'
        //                     html1 += `<li data-value="${i}" class="option selected">${value.xuatChieu}</li>`
        //                     currentSelect.textContent = value.xuatChieu
        //                }
        //                    else {
        //                        html += '<option value="' + value.cumRapId + '"> ' + value.xuatChieu + ' </option>'
        //                html1 += `<li data-value="${i}" class="option">${value.xuatChieu}</li>`
        //                    }

        //            })
        //            selectElement.innerHTML = html
        //            list.innerHTML = html1
        //        },
        //        error: function (xhr, status, error) {

        //        }
        //    });
        //}

</script>
<div class="tab-area searchCGV">
    <div class="tab-item active">
        <form class="ticket-search-form" asp-controller="LichChieu" asp-action="LichChieu">
            <div class="form-group">
                <div class="thumb">
                    <img src="assets/images/ticket/city.png" alt="ticket">
                </div>
                <span class="type">Thành phố</span>
                <select name="thanhPhoId" class="select-bar" onchange="loadCenimal(this)">
                    @foreach (var item in thanhPhoList)
                    {
                        <option value="@item.ThanhPhoId">@item.TenThanhPho</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <div class="thumb">
                    <img src="assets/images/ticket/cinema.png" alt="ticket">
                </div>
                <span class="type">Cụm rạp</span>
                <select name="cumRapId" class="select-bar" id="cumrap" onchange="this.form.submit()">
                    

                </select>
            </div>
            <div class="form-group">
                <div class="thumb">
                    <img src="assets/images/ticket/date.png" alt="ticket">
                </div>
                <span class="type">Ngày chiếu</span>
                <select class="select-bar" id="ngaychieu">

                </select>
            </div>
        </form>
    </div>
</div>
