﻿@model IEnumerable<LichChieuViewModel>
@inject IThanhPhoServices thanhPhoService;
@{
    ViewData["Title"] = "LichChieu";
    var thanhPhoList = (await thanhPhoService.GetAllAsync(StaticDetails.ThanhPhoAPIPath + "GetAll")).ToList();
    string thanhPhoId = TempData["ThanhPhoId"] as string;
    string tenThanhPho = TempData["TenThanhPho"] as string;
    string cumRapId = TempData["CumRapId"] as string;
    string tenCumRap = TempData["TenCumRap"] as string;
    var dates = TempData["NgayChieu"] as List<string>;
    var ngayChieuTimKiem = TempData["NgayChieuTimKiem"] as string;
    string backgroundImage = "/banners/" + ViewBag.Phim.Banner;

}
@section Scripts {
  

<script type="text/javascript">
            function ChooseCity(thanhPhoId) {
        $.ajax({
            type: 'GET',
            data: { "thanhPhoId": thanhPhoId.value },
            url: '/LichChieu/FilterCumRap',
            success: function (response) {
                $('#cumRapId').empty();

                $.each(response.list, function (key, value) {
                    $("#cumRapId").append($('<option>',{value : value.cumRapId, text: value.tenRap}));
                })
            },
            error: function (response) {
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

</script>
}


<section class="details-banner hero-area" style="background-image:url(@backgroundImage) !important">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content">
                <h3 class="title">@ViewBag.Phim.TenPhim</h3>
                <div class="tags">
                    <a href="#0">@ViewBag.Phim.TheLoais</a>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="book-section bg-one">
        <div class="container">
            <form class="ticket-search-form two" asp-controller="LichChieu" asp-action="LichChieu">
                <input name="phimId" value="@ViewBag.Phim.PhimId" hidden />
                    <div class="form-group">
                        <div class="thumb">
                            <img src="~/assets/images/ticket/city.png" alt="ticket">
                        </div>
                        <span class="type">Thành phố</span>
                        <select name="thanhPhoId" asp-items="@ViewBag.ThanhPho" onchange="ChooseCity(this)" style="color:blue; height:40px">
                            @if (thanhPhoId != "0" || cumRapId != "0")
                            {
                                <option selected="selected" value=@thanhPhoId>@tenThanhPho</option>
                            }
                            else
                            {
                                <option selected="selected" value="">- Chọn thành phố -</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="thumb">
                            <img src="~/assets/images/ticket/cinema.png" alt="ticket">
                        </div>
                        <span class="type">Cụm rạp</span>
                        <select id="cumRapId" name="cumRapId" asp-items="@ViewBag.CumRap" onchange="this.form.submit()" style="color:blue; height:40px">
                            @if (thanhPhoId != "0" || cumRapId != "0")
                            {
                                <option selected="selected" value="@cumRapId" onclick="this.form.submit()">@tenCumRap</option>
                            }
                            else
                            {
                                <option selected="selected" value="">- Chọn cụm rạp -</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="thumb">
                            <img src="~/assets/images/ticket/date.png" alt="ticket">
                        </div>
                        <span class="type">Ngày chiếu</span>
                        <select id="ngaychieu" name="ngayChieu" onchange="this.form.submit()" style="color:blue; height:40px">
                            <option value="">-Chọn ngày chiếu -</option>
                            @foreach (var item in dates)
                            {
                                @if (ngayChieuTimKiem.Equals(item))
                                {
                                    <option selected="selected" value="@item" onclick="this.form.submit()">@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }

                            }
                        </select>
                    </div>
            </form>
        </div>
</section>

<div class="ticket-plan-section padding-bottom padding-top" style="padding-top:0px">
    <div class="container">
        <div class="row justify-content-center">

            <table class="table" style="color: white">
                <thead>
                    <tr>
                        <th>
                            Ngày Chiếu
                        </th>
                        <th>
                            Thời gian
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rap.TenRap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rap.LoaiRap)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhanTramKM)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{
                                    string ngayChieu = item.XuatChieu.ToString("dd/MM/yyyy");
                                }
                                @Html.DisplayFor(modelItem => ngayChieu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XuatChieu.TimeOfDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rap.TenRap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rap.LoaiRap)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhanTramKM)
                            </td>
                            <td>
                                <a asp-controller="Ve" asp-action="ChonGhe" asp-route-lichChieuId=@item.LichChieuId>Chọn lịch chiếu</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

