﻿@model IEnumerable<VeViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
    var ngayChieu =  ViewData["NgayChieu"] as string;
    var nextPage = (int)ViewBag.Page + 1;
    var prevPage = (int)ViewBag.Page - 1 < 0 ? 1 : (int)ViewBag.Page - 1;
    var disableNext = "disable";
    if(Model != null)
    {
        disableNext = Model.ToList().Count() < 10 ? "disable" : "";
    }    
    var disablePrev = (int)ViewBag.Page == 1 ? "disable" : "";
}

<h1>Danh sách vé mới</h1>
<hr />
@if (Model == null)
{
    <h1>Không có vé nào được đặt</h1>
}
else
{
    <form asp-action="Index" method="post" style="margin-top:10px; margin-right:20%">
        <div class="row">

            <div class="col-6">
                <input id="tenPhim" name="tenPhim" class="form-control" placeholder="Nhập tên phim ..." style="width:60%" />
                <br>
                <input id="userName" name="userName" class="form-control" placeholder="Nhập tên khách hàng ..." style="width:60%" />
            </div>
            <div class="col-6">
                <input id="ngayChieu" name="ngayChieu" type="date" class="form-control" style="width:60%; float:right" value="@ngayChieu"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Tìm kiếm" class="btn btn-info" style="float:right" />
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.HoTen)
                </th>
                <th width=25%>
                    @Html.DisplayNameFor(model => model.LichChieu.Phim.TenPhim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LichChieu.XuatChieu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TongGiaVe)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.HoTen)
                    </td>
                    <td width=25%>
                        @Html.DisplayFor(modelItem => item.LichChieu.Phim.TenPhim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LichChieu.XuatChieu)
                    </td>
                    <td>
                        @{
                            string tongGiaVe = @String.Format("{0:0,0}", @item.TongGiaVe);
                        }
                        @Html.DisplayFor(modelItem => tongGiaVe)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-veId="@item.VeId">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
     <div class="btn-group mr-2" role="group" aria-label="First group">
         <a class="prev @disablePrev btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="Ve" asp-action="Index" asp-route-rapId="@ViewBag.RapId"
         asp-route-ngayChieu="@ViewBag.NgayChieu" asp-route-tenPhim="@ViewBag.TenPhim"
         asp-route-userName="@ViewBag.UserName" asp-route-index="@prevPage">&laquo;</a>

     </div>
     <div class="btn-group mr-2" role="group" aria-label="Second group">
         @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
         {
            if(@ViewBag.Page == i)
            {
                <a class="btn btn-white mr-2 btn-white-group activePage" style="border:0.6px solid green" 
                 asp-controller="Ve" asp-action="Index" asp-route-rapId="@ViewBag.RapId"
                 asp-route-ngayChieu="@ViewBag.NgayChieu" asp-route-tenPhim="@ViewBag.TenPhim"
                 asp-route-userName="@ViewBag.UserName" asp-route-index="@i">@i </a>
            }
            else
            {
                <a class="btn btn-white mr-2 btn-white-group" style="border:0.6px solid green" 
                 asp-controller="Ve" asp-action="Index" asp-route-rapId="@ViewBag.RapId"
                 asp-route-ngayChieu="@ViewBag.NgayChieu" asp-route-tenPhim="@ViewBag.TenPhim"
                 asp-route-userName="@ViewBag.UserName" asp-route-index="@i">@i </a>               
            }
         }
     </div>
     <div class="btn-group" role="group" aria-label="Third group">
         <a class="next @disableNext btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="Ve" asp-action="Index" asp-route-rapId="@ViewBag.RapId"
         asp-route-ngayChieu="@ViewBag.NgayChieu" asp-route-tenPhim="@ViewBag.TenPhim"
         asp-route-userName="@ViewBag.UserName" asp-route-index="@nextPage">&raquo;</a>
     </div>
 </div>

