﻿@model CGVManagerDetailViewModel

@{
    ViewData["Title"] = "Update";
     string errorMessages = TempData["ErrorMessage"] as string;
    string thanhPhoId = TempData["ThanhPhoId"] as string;
    string tenThanhPho = TempData["TenThanhPho"] as string;
    //string cumRapId = TempData["CumRapId"] as string;
    string tenCumRap = TempData["TenCumRap"] as string;
}

<h1>Cập nhật thông tin tài khoản</h1>
<hr />
@if (errorMessages != null)
{
    <div class="alert alert-danger">       
            @errorMessages      
    </div>
}
<div class="row">
    <div class="col-md-12">       
        <form asp-area="Admin" asp-controller="CGVManager" asp-action="Update" method="post" style="width:40%; background-color: lightblue; padding: 15px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="form-label"></label>
                 <input type="text" asp-for="UserName" class="form-control" readonly />             
            </div>           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly  />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly  />
            </div>
            <div>
                <label asp-for="LoaiTaiKhoan" class="control-label"></label><br />
                 @Html.TextBoxFor(x => x.LoaiTaiKhoan, new {@class = "hidden"  })
              
                
                     <input type="radio" id="QTV" name="LoaiTaiKhoan" />
                     <label>Quản trị viên</label>
                     <input type="radio" id="QL" name="LoaiTaiKhoan" checked="checked"/>
                     <label>Quản lý cụm rạp</label>
                 
                 <br />
                <span asp-validation-for="LoaiTaiKhoan" class="text-danger"></span>
            </div>
            <div class="form-group" id="cumRap">
                <div class="form-group">
                    <label class="control-label">Chọn thành phố</label>
                    <select name="thanhPhoId" class="form-control" asp-items="@ViewBag.ThanhPho" onchange="ChooseCity(this)" >
                        <option selected="selected" value="@thanhPhoId">@tenThanhPho</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Chọn cụm rạp</label>
                    <select id="cumRapId" name="cumRapId" class="form-control" asp-items="@ViewBag.CumRap">
                        <option selected="selected" value="@Model.CumRapId">@tenCumRap</option>
                    </select>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="CumRapId" class="control-label"></label>
                <input asp-for="CumRapId" class="form-control" />
                <span asp-validation-for="CumRapId" class="text-danger"></span>
            </div>*@
             <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-info">Trở về</a>
            </div>           
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/js/Admin/filterCumRapByThanhPho.js"></script>
<script>
    $(document).ready(function (){
        $('#QTV').off('click').on('click', function(){
             $('#LoaiTaiKhoan').val("Quản trị viên");
             $('#cumRap').hide();
            
        }); 
        $('#QL').off('click').on('click', function(){
             $('#LoaiTaiKhoan').val("Quản lý");
             $('#cumRap').show();
            
        })  
    })
</script>
}



