﻿@model IEnumerable<KhachHangViewModel>

@{
    ViewData["Title"] = "Index";
    var nextPage = (int)ViewBag.Page + 1;
    var prevPage = (int)ViewBag.Page - 1 < 0 ? 1 : (int)ViewBag.Page - 1;
    var disableNext = Model.ToList().Count() < 20 ? "disable" : "";
    var disablePrev = (int)ViewBag.Page == 1 ? "disable" : "";
}

<h1>Danh sách khách hàng</h1>
<hr /> 
<form asp-action="Index" method="post" style="margin-top:10px; margin-right:20%">
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-6">
                <input id="tenKhachHang" name="tenKhachHang" class="form-control" placeholder="Nhập tên khách hàng" style="width:60%" value="@ViewBag.TenKhachHang" />
                <br>
                <input id="soDienThoai" name="soDienThoai" class="form-control" placeholder="Nhập số điện thoại " style="width:60%" value="@ViewBag.SoDienThoai"/>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <input id="emailKhachHang" name="emailKhachHang" class="form-control" placeholder="Nhập email " style="width:60%" value="@ViewBag.DiaChi"/>
                <br>
                <input id="diaChiKhachHang" name="diaChiKhachHang" class="form-control" placeholder="Nhập địa chỉ" style="width:60%" value="@ViewBag.Email"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Tìm kiếm" class="btn btn-info" style="float:right; margin-right:6%" />
            </div>
        </div>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemThuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemThuong)
            </td>
            <td>
                <a asp-action="Transaction" asp-route-id="@item.UserId">Giao dịch</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
     <div class="btn-group mr-2" role="group" aria-label="First group">
         <a class="prev @disablePrev btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="KhachHang" asp-action="Index" asp-route-tenKhachHang="@ViewBag.TenKhachHang"
         asp-route-soDienThoai="@ViewBag.SoDienThoai" asp-route-diaChiKhachHang="@ViewBag.DiaChi"
         asp-route-emailKhachHang="@ViewBag.Email" asp-route-index="@prevPage">&laquo;</a>

     </div>
     <div class="btn-group mr-2" role="group" aria-label="Second group">
         @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
         {
            if(@ViewBag.Page == i)
            {
                <a class="btn btn-white mr-2 btn-white-group activePage" style="border:0.6px solid green" 
             asp-controller="KhachHang" asp-action="Index" asp-route-tenKhachHang="@ViewBag.TenKhachHang"
            asp-route-soDienThoai="@ViewBag.SoDienThoai" asp-route-diaChiKhachHang="@ViewBag.DiaChi"
            asp-route-emailKhachHang="@ViewBag.Email" asp-route-index="@i">@i </a>
            }
            else
            {
                <a class="btn btn-white mr-2 btn-white-group" style="border:0.6px solid green" 
             asp-controller="KhachHang" asp-action="Index" asp-route-tenKhachHang="@ViewBag.TenKhachHang"
            asp-route-soDienThoai="@ViewBag.SoDienThoai" asp-route-diaChiKhachHang="@ViewBag.DiaChi"
            asp-route-emailKhachHang="@ViewBag.Email" asp-route-index="@i">@i </a>
            }
            
         }
     </div>
     <div class="btn-group" role="group" aria-label="Third group">
         <a class="next @disableNext btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="KhachHang" asp-action="Index" asp-route-tenKhachHang="@ViewBag.TenKhachHang"
         asp-route-soDienThoai="@ViewBag.SoDienThoai" asp-route-diaChiKhachHang="@ViewBag.DiaChi"
         asp-route-emailKhachHang="@ViewBag.Email" asp-route-index="@nextPage">&raquo;</a>
     </div>
 </div>
