﻿@model IEnumerable<CanhBaoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Danh sách cảnh báo</h1>
<hr />
<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm mới</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCanhBao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenCanhBao)
                </td>
                <td>
                    <img src="~/canhbaos/@item.Anh" alt="Ảnh" width=100px height=60px />
                </td>
                <td>
                        <a class="nav-link text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-pen" style="font-size: x-large; color: darkcyan"></i>
                            </a>
                        <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown" style="left: -100px">
                            
                                <li>
                                    <a href="" class="open" data-toggle="modal" data-target="#modalUpdate"
                   onclick="document.getElementById('idUpdate').value=@item.CanhBaoId
                            , document.getElementById('tenUpdate').value='@item.TenCanhBao'
                            , document.getElementById('anhUpdate').src='/canhbaos/@item.Anh' "><i class="fa-solid fa-file-pen"></i>&nbsp Chỉnh sửa</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a href="" class="open" data-toggle="modal" data-target="#modalDelete"
                   onclick="document.getElementById('canhBaoId').value=@item.CanhBaoId"><i class="fa-solid fa-trash"></i>&nbsp Xóa</a>
                                </li>
                            </ul>
                    </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Create -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="CanhBao" asp-action="Create" enctype="multipart/form-data" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title" style="float: left; padding-bottom:20px"><b>Thêm mới cảnh báo</b></h2>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <div>
                        <div class="form-group" style="clear:both">
                            <label class="form-label">Tên cảnh báo</label>
                            <input id="tenCanhBao" name="tenCanhBao" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ảnh cảnh báo</label>
                            <br />
                            <img id="outputAnh" src="~/thumbail/h0.png" width="300" height="200">
                            <input name="anhFile" id="anhFile" type="file" required style="margin-top:10px"
                                   onchange="document.getElementById('outputAnh').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Thêm mới" class="btn  btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="CanhBao" asp-action="Update" enctype="multipart/form-data" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title" style="float: left; padding-bottom:20px"><b>Cập nhật cảnh báo</b></h2>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <div>
                        <input id="idUpdate" name="idUpdate" class="form-control hidden" />
                        <div class="form-group" style="clear:both">
                            <label class="form-label">Tên cảnh báo</label>
                            <input id="tenUpdate" name="tenUpdate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Ảnh cảnh báo</label>
                            <br />
                            <img id="anhUpdate" src="~/canhbaos/anh.png" width="300" height="200">
                            <input name="anhFile" id="anhFile" type="file" style="margin-top:10px"
                                   onchange="document.getElementById('anhUpdate').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="CanhBao" asp-action="Delete" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" style="float: left">Xác nhận xóa</h4>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <h3>Bạn chắc chắn muốn xóa cảnh báo phim này ?</h3>
                    <input name="canhBaoId" id="canhBaoId" hidden />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>




