﻿@model IEnumerable<RapViewModel>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.CumRap.TenRap</h1>
<hr />
<form asp-action="UpdateCumRap" method="post">
    <div class="row">
        <input id="cumRapId" name="cumRapId" value="@ViewBag.CumRap.CumRapId" hidden />
        <input id="tenRap" name="tenRap" value="@ViewBag.CumRap.TenRap" hidden />
        <div class="col-7">
            <label class="control-label">Địa chỉ :</label>
            <input id="diaChi" name="diaChi" value="@ViewBag.CumRap.DiaChi" class="form-control" required />
        </div>
        <div class="col-3">
            <label class="control-label">Số điện thoại :</label>
            <input id="soDienThoai" name="soDienThoai" value="@ViewBag.CumRap.SoDienThoai" class="form-control" required />
        </div>
        <div class="col-2">
            <input type="submit" class="btn  btn-primary" value="Cập nhật" style="margin-top: 25px"/>
        </div>       
    </div>    
</form>
<hr />
<p>
    <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#myModal"
            onclick="document.getElementById('createCumRapId').value=@ViewBag.CumRap.CumRapId">
        Thêm mới
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th width=30%>
                @Html.DisplayNameFor(model => model.TenRap)
            </th width=50%>
            <th>
                @Html.DisplayNameFor(model => model.LoaiRap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width=30%>
                    @Html.DisplayFor(modelItem => item.TenRap)
                </td>
                <td width=50%>
                    @Html.DisplayFor(modelItem => item.LoaiRap)
                </td>
                <td>
                    <a asp-controller="Rap" asp-action="Edit" asp-route-rapId="@item.RapId" asp-route-cumRapId="@ViewBag.CumRap.CumRapId">Chi tiết</a>|
                    <a href="" data-toggle="modal" data-target="#modalDelete"
                        onclick="document.getElementById('rapId').value=@item.RapId,
                            document.getElementById('cumId').value=@ViewBag.CumRap.CumRapId">
                        Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Create -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="CumRap" asp-action="CreateRap" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title" style="float: left"><b>Thêm rạp mới</b></h2>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <input name="createCumRapId" id="createCumRapId" class="form-control" />
                    <div class="form-group">
                        <label class="form-label">Tên rạp</label>
                        <input id="tenRap" name="tenRap" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Loại rạp</label>
                        <select id="loaiRap" name="loaiRap" class="form-select form-control">
                            <option value="Rạp 2D">Rạp 2D</option>
                            <option value="Rạp 3D">Rạp 3D</option>
                            <option value="Rạp 4D">Rạp 4D</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn  btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="CumRap" asp-action="DeleteRap" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" style="float: left">Delete Confirm</h4>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <h3>Are you sure want to delete ?</h3>
                    <input name="cumId" id="cumId" class="form-control" />
                    <input name="rapId" id="rapId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Trở về</a>
</div>