﻿@model IEnumerable<CumRapViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var nextPage = (int)ViewBag.Page + 1;
    var prevPage = (int)ViewBag.Page - 1 < 0 ? 1 : (int)ViewBag.Page - 1;
    var disableNext = Model.ToList().Count() < 20 ? "disable" : "";
    var disablePrev = (int)ViewBag.Page == 1 ? "disable" : "";
}

<h1>Danh sách rạp CGV</h1>
<hr />
<p>
    <a asp-action="Create" class="btn  btn-primary">Thêm mới</a>
</p>
<form asp-action="Index" method="post">
    <div class="row">
        <div class="col-4">
            <label class="control-label">Tìm kiếm</label>
            <input type="text" name="tenCumRap" class="form-control" placeholder="Nhập tên cụm rạp..." />
        </div>
        <div class="col-6">
            <label class="control-label">Chọn thành phố</label>
            <select name="thanhPhoId" class="form-control" asp-items="@ViewBag.ThanhPho">
                <option selected="selected" value="">- Chọn thành phố -</option>
            </select>
        </div>
        <div class="col-2">
            <input type="submit" value="Tìm kiếm" style="margin-top: 25px" class="btn btn-info form-control" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThanhPho.TenThanhPho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenRap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width=15%>
                    @Html.DisplayFor(modelItem => item.ThanhPho.TenThanhPho)
                </td>
                <td width=20%>
                    @Html.DisplayFor(modelItem => item.TenRap)
                </td>
                <td width=30%>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                @*<td>
                    <a asp-action="Details" asp-route-cumRapId="@item.CumRapId">Chi tiết</a>
                    <a href="" class="open" data-toggle="modal" data-target="#modalDelete"
                    onclick="document.getElementById('cumRapId').value=@item.CumRapId">Xóa</a>
                    </td>*@
                <td>
                    <a class="nav-link text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-pen" style="font-size: x-large; color: darkcyan"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown" style="left: -100px">

                        <li>
                            <a asp-action="Details" asp-route-cumRapId="@item.CumRapId"><i class="fa-solid fa-file-lines"></i>&nbsp Chi tiết</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a href="" class="open" data-toggle="modal" data-target="#modalDelete"
                           onclick="document.getElementById('cumRapId').value=@item.CumRapId"><i class="fa-solid fa-trash"></i>&nbsp Xóa</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="prev @disablePrev btn btn-white btn-white-group" style="border:0.6px solid green"
           asp-controller="CumRap" asp-action="Index" asp-route-tenCumRap="@ViewBag.TenCumRap"
           asp-route-thanhPhoId="@ViewBag.ThanhPhoId" asp-route-index="@prevPage">&laquo;</a>

    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
        {
            if(@ViewBag.Page == i){
                <a class="btn btn-white mr-2 btn-white-group activePage" style="border:0.6px solid green"
               asp-controller="CumRap" asp-action="Index" asp-route-tenCumRap="@ViewBag.TenCumRap"
               asp-route-thanhPhoId="@ViewBag.ThanhPhoId" asp-route-index="@i">@i </a>
            }
            else
            {
                <a class="btn btn-white mr-2 btn-white-group" style="border:0.6px solid green"
               asp-controller="CumRap" asp-action="Index" asp-route-tenCumRap="@ViewBag.TenCumRap"
               asp-route-thanhPhoId="@ViewBag.ThanhPhoId" asp-route-index="@i">@i </a>
            }            
        }
    </div>
    <div class="btn-group" role="group" aria-label="Third group">
        <a class="next @disableNext btn btn-white btn-white-group" style="border:0.6px solid green"
           asp-controller="CumRap" asp-action="Index" asp-route-tenCumRap="@ViewBag.TenCumRap"
           asp-route-thanhPhoId="@ViewBag.ThanhPhoId" asp-route-index="@nextPage">&raquo;</a>
    </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" role="dialog">
    <div class="modal-dialog">
        <form asp-action="DeleteCumRap" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" style="float: left">Xác nhận xóa</h4>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <h3>Bạn chắc chắn muốn xóa cụm rạp này ?</h3>
                    <input name="cumRapId" id="cumRapId" hidden />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>
