﻿@model IEnumerable<RapGheViewModel>
 @{
      
    var viTriDaDats = TempData["ViTriDaDat"] as List<string>;
    var lichChieu = TempData["LichChieu"] as LichChieuViewModel;
    var cumRap = TempData["CumRap"] as CumRapViewModel;
    var phim = TempData["Phim"] as PhimDetailViewModel;
    var rap = TempData["Rap"] as RapViewModel;
    string backgroundImage = "/banners/" + @phim.Banner;
    decimal gheThuong = 0;
    decimal gheVip = 0;
    decimal gheDoi = 0;
    foreach (var item in @Model)
    {
        if (item.LoaiGheId == 1)
        {
            gheThuong = item?.GiaGhe ?? 0;
        }
        else if (item.LoaiGheId == 2)
        {
            gheVip = item?.GiaGhe ?? 0;
        }
        else
        {
            gheDoi = item?.GiaGhe ?? 0;
        }

    }
}
<div id="noidung">
<div>
    <section class="details-banner hero-area seat-plan-banner" style="background-image:url('@backgroundImage') !important">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content style-two">
                    <h3 class="title">@phim.TenPhim</h3>
                    <div class="tags">
                        <h5>@phim.TheLoais</h5>
                        <h5">@phim.NgonNgu</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Banner-Section========== -->
    <!-- ==========Page-Title========== -->
    <input id="giaVePhim" value="@phim.GiaVe" hidden />
    <input id="rapId" name="rapId" value="@rap.RapId" hidden />
    <input id="khuyenMaiPhim" value="@phim.KhuyenMai" hidden />
    <input id="khuyenMaiXuatChieu" value="@lichChieu.PhanTramKM" hidden />
    <section class="page-title bg-one">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a href="@Url.Action("LichChieu", "LichChieu", new {phimId = @phim.PhimId} )" class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>Quay lại
                    </a>
                </div>
                <div class="item date-item">
                   <h5>@cumRap.TenRap - Xuất chiếu: @lichChieu.XuatChieu.ToString("dd/MM/yyyy hh:mm:tt") </h5>
                </div>
                <div class="item">
                    <h5 class="title">@phim.ThoiLuong:00</h5>
                    <p>Phút</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page-Title========== -->
    <!-- ==========Movie-Section========== -->
    <div class="padding-bottom padding-top">
        <div class="container">
            <div class="screen-area">
                <h4 class="screen">Màn hình</h4>
                <div class="screen-thumb">
                    <img src="/assets/images/movie/screen-thumb.png" alt="movie">
                </div>
                <h5 class="subtitle">Màn hình</h5>
                <div>
                    <div class="row">
                        <div class="col-1">
                            <span style="float:left">A</span>
                        </div>
                        <div class="col-10 row" style="display: flex;justify-content: center;">

                                @for (int i = 1; i <= 10; i++)
                                {
                                    if (!@viTriDaDats.Contains("A-" + @i))
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat01.png" alt="seat" data-loaiGhe="1" data-giaGhe="@gheThuong" data-id="A-@i" name="A-@i" class="btnGhe">
                                        <span class="sit-num">A-@i</span>
                                    </div>
                                    }
                                    else
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat01-free.png" alt="seat" data-loaiGhe="1" data-giaGhe="@gheThuong" data-id="A-@i" name="A-@i">
                                        <span class="sit-num">A-@i</span>
                                    </div>
                                    }

                                }

                        </div>
                        <div class="col-1">
                            <span style="float:right">A</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-1">
                            <span style="float:left">B</span>
                        </div>
                        <div class="col-10 row" style="display: flex;justify-content: center;">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    if (!@viTriDaDats.Contains("B-" + @i))
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat01.png" alt="seat" data-loaiGhe="1" data-giaGhe="@gheThuong" data-id="B-@i" name="B-@i" class="btnGhe">
                                        <span class="sit-num">B-@i</span>
                                    </div>
                                    }
                                    else
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat01-free.png" alt="seat" data-loaiGhe="1" data-giaGhe="@gheThuong" data-id="B-@i" name="B-@i">
                                        <span class="sit-num">B-@i</span>
                                    </div>
                                    }

                                }
                        </div>
                        <div class="col-1">
                            <span style="float:right">B</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-1">
                            <span style="float:left">C</span>
                        </div>
                        <div class="col-10 row" style="display: flex;justify-content: center;">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    if (!@viTriDaDats.Contains("C-" + @i))
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat01.png" alt="seat" data-loaiGhe="1" data-giaGhe="@gheThuong" data-id="C-@i" name="C-@i" class="btnGhe">
                                        <span class="sit-num">C-@i</span>
                                    </div>
                                    }
                                    else
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat01-free.png" alt="seat" data-loaiGhe="1" data-giaGhe="@gheThuong" data-id="C-@i" name="C-@i">
                                        <span class="sit-num">C-@i</span>
                                    </div>
                                    }
                                }
                        </div>
                        <div class="col-1">
                            <span style="float:right">C</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-1">
                            <span style="float:left">D</span>
                        </div>
                        <div class="col-10 row" style="display: flex;justify-content: center;">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    if (!@viTriDaDats.Contains("D-" + @i))
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat01.png" alt="seat" data-loaiGhe="2" data-giaGhe="@gheVip" data-id="D-@i" name="D-@i" class="btnGhe">
                                        <span class="sit-num">D-@i</span>
                                    </div>
                                    }
                                    else
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat01-free.png" alt="seat" data-loaiGhe="2" data-giaGhe="@gheVip" data-id="D-@i" name="D-@i">
                                        <span class="sit-num">D-@i</span>
                                    </div>
                                    }
                                }
                        </div>
                        <div class="col-1">
                            <span style="float:right">D</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-1">
                            <span style="float:left">E</span>
                        </div>
                        <div class="col-10 row" style="display: flex;justify-content: center;">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (!@viTriDaDats.Contains("E-" + @i))
                                    {
                                    <div style="float: left; padding: 10px">

                                        <img src="~/assets/images/movie/seat02.png" alt="seat" data-loaiGhe="3" data-giaGhe="@gheDoi" data-id="E-@i" name="E-@i" class="btnGhe">
                                        <span class="sit-num">E-@i</span>

                                    </div>
                                    }
                                    else
                                    {
                                    <div style="float: left; padding: 10px">

                                        <img src="~/assets/images/movie/seat02-booked.png" alt="seat" data-loaiGhe="3" data-giaGhe="@gheDoi" data-id="E-@i" name="E-@i">
                                        <span class="sit-num">E-@i</span>
                                    </div>
                                    }
                                }
                        </div>
                        <div class="col-1">
                            <span style="float:right">E</span>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="row">
                        <div class="col-1">
                            <span style="float:left">F</span>
                        </div>
                        <div class="col-10 row" style="display: flex;justify-content: center;">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (!@viTriDaDats.Contains("F-" + @i))
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat02.png" alt="seat" data-loaiGhe="3" data-giaGhe="@gheDoi" id="F-@i" name="F-@i" class="btnGhe">
                                        <span class="sit-num">F-@i</span>
                                    </div>
                                    }
                                    else
                                    {
                                    <div style="float: left; padding: 10px">
                                        <img src="~/assets/images/movie/seat02-booked.png" alt="seat" data-loaiGhe="3" data-giaGhe="@gheDoi" id="F-@i" name="F-@i">
                                        <span class="sit-num">F-@i</span>
                                    </div>
                                    }
                                }
                        </div>
                        <div class="col-1">
                            <span style="float:right">F</span>
                        </div>
                    </div>
                </div>
                <section class="page-title bg-one" style="margin-top:50px">
        <div class="container">
                        <div style="margin-top:10px">
                            <p>Hàng A, B, C: ghế thường, giá ghế = @String.Format("{0:0,0}", @gheThuong) VNĐ</p>
                            <p>Hàng D: ghế Vip, giá ghế = @String.Format("{0:0,0}", @gheVip) VNĐ</p>
                            <p>Hàng E, F: ghế thường, giá ghế = @String.Format("{0:0,0}", @gheDoi) VNĐ</p>
                        </div>

                   
                        <div class="row" style="margin-top: 50px">
                            <div class="col-6">
                                <h5>Bạn đã chọn vị trí:</h5>
                                <h4 class="title" id="viTri"></h4>
                            </div>
                            <div class="col-4">
                                <h5>Tổng tiền:</h5>
                                <h5 id="thanhToan" class="title"></h5>
                            </div>
                            <div class="col-2">
                                <button id="buttonThanhToan" class="custom-button btnDatVe">Thanh toán</button>
                            </div>
                        </div>
                    
                    <div>
                        </div>
                        </section>
                        <input name="phimId" value="@phim.PhimId" id="phimId" hidden />
                        <input name="lichChieuId" id="lichChieuId" value="@lichChieu.LichChieuId" hidden />
                        <input name="viTriGhe" id="viTriGhe" hidden />
                        <input name="soLuongGheNgoi" id="soLuongGheNgoi" hidden />
                        <input name="tongTien" id="tongTien" hidden />
                    </div>
                
            </div>
        </div>
</div>
</div>
<script>
          $('#buttonThanhToan').attr("disabled",true) ;
         $('.btnGhe').on('click', function () {
             var soGhe = $(this).data('id');

             if($(this).attr('src') == "/assets/images/movie/seat01.png"){
                 $(this).addClass("KhachHangChon");
                 $(this).attr('src', "/assets/images/movie/seat01-free.png")
             }
             else if($(this).attr('src') == "/assets/images/movie/seat02.png"){
                 $(this).addClass("KhachHangChon");
                 $(this).attr('src', "/assets/images/movie/seat02-booked.png")
             }

             else if($(this).attr('src') =="/assets/images/movie/seat01-free.png"){
                 $(this).removeClass("KhachHangChon");
                 $(this).attr('src', "/assets/images/movie/seat01.png")
             }
             else if($(this).attr('src') == "/assets/images/movie/seat02-booked.png"){
                 $(this).removeClass("KhachHangChon");
                 $(this).attr('src', "/assets/images/movie/seat02.png")
             }
             //SoGhe();

             var checkboxes = $('.KhachHangChon');
             var selectedlist = [];
               let tongTien = 0;
               let tienGhe = 0;
               let soLuongGhe = 0;
               let soLuongNguoi = 0;
               let giaPhim = parseInt($("#giaVePhim").val());
               let khuyenMaiPhim = parseInt($("#khuyenMaiPhim").val())
               let khuyenMaiXuatChieu = parseInt($("#khuyenMaiXuatChieu").val())
                var a = "";
               for (var i = 0; i < checkboxes.length; i++) {
                       a = a + checkboxes[i].name + ";";
                       tienGhe = tienGhe + parseInt(checkboxes[i].attributes["data-giaghe"].nodeValue);
                       soLuongGhe ++;
                       if(checkboxes[i].attributes["data-loaighe"].nodeValue == "3"){
                           soLuongNguoi = soLuongNguoi + 2;
                       }
                        else{
                            soLuongNguoi++;
                        }
               }

               $('#viTriGhe').val(a);
               var vitri = a.substring(0, a.length - 1);
               $('#viTri').text(vitri);
               $('#soLuongGheNgoi').val(soLuongGhe);
               tongTien = (giaPhim * (1 - khuyenMaiPhim/100))*(1 - khuyenMaiXuatChieu/100) * soLuongNguoi + tienGhe;
               $('#tongTien').val(tongTien);
               $('#thanhToan').text(tongTien.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") + ' VNĐ');
               if(tongTien == 0){
                   $('#buttonThanhToan').attr("disabled","disabled") ;
               }
               else{
                   $('#buttonThanhToan').attr("disabled",false) ;
               }
         })

         $('.btnDatVe').on('click', function () {
             let rapId = $('#rapId').val();
             let phimId = $('#phimId').val();
             let lichChieuId = $('#lichChieuId').val();
             let tongTien = $('#tongTien').val();
             var ghes = $('.KhachHangChon');
             var listGhe = [];
              for (var i = 0; i < ghes.length; i++) {
                  listGhe.push({
                     ViTri: ghes[i].name,
                     LoaiGheId: ghes[i].attributes["data-loaighe"].nodeValue
                 });
        }
         $.ajax({
             url: '/Ve/DatVe',
             data: {"rapId": rapId, "phimId": phimId, "lichChieuId": lichChieuId, "tongTien": tongTien, listGhe: JSON.stringify(listGhe)},
             dataType: 'json',
             type: 'POST',
             async: true,
             success: function (res){
//                 var noidung =`<div class="container" style="margin-top: 150px; margin-bottom: 200px">
//     <h5 class="alert alert-success">
//        Bạn đã đặt vé thành công ! Xem thông tin vé trong lịch sử giao dịch nhé !
//     </h5>
//</div>`;
//                 $('#noidung').text(noidung);
                window.location.href="/Ve/DatVeThanhCong";
               
             },
             error: function (res){
                 alert("Lỗi tạo mẫu dữ liệu chưa đầy đủ...");
                window.location.href="Ve/LoiData";
             }
         })
         });
    
</script>
