﻿@{
    Layout = "_Layout";
}
<div class="container" style="margin-top: 150px; margin-bottom: 200px">
     <h5 class="alert alert-success">
        Bạn đã đặt vé thành công ! Xem thông tin vé trong lịch sử giao dịch nhé !
     </h5>
</div>