﻿@{
    Layout = "_Layout";
}
<div class="container" style="margin-top: 150px; margin-bottom: 200px">
     <h5 class="alert alert-success">
        Lỗi hệ thống, chưa tạo dữ liệu mẫu !
     </h5>
</div>
