﻿@model TheLoaiViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm mới thể loại phim</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenTheLoai" class="control-label"></label>
                <input asp-for="TenTheLoai" class="form-control" />
                <span asp-validation-for="TenTheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
