﻿@model IEnumerable<DoanhThuTheoNam>
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<form asp-action="BieuDoThongKeNam" method="post">
    <div class="row">
        <div class="col-4">
            <label class="control-label">Năm</label>
            <input type='number' name="nam" class="form-control" value="@ViewBag.Nam"/>
        </div>
        <div class="col-6">
            <label class="control-label">Chọn thành phố</label>
            <select name="thanhPhoId" class="form-control" asp-items="ViewBag.ThanhPho">
                <option selected value="@ViewBag.ThanhPhoId">@ViewBag.TenThanhPho</option>
            </select>
        </div>
        <div class="col-2">
             <input type="submit" value="Tìm kiếm" style="margin-top: 25px" class="btn btn-info form-control"/>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="card-header">
            Doanh thu năm hiện tại các cụm rạp
        </div>
        <div class="card-body">
            <canvas class="my-4 h-25" id="saleYear"></canvas>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card-header">
            Bảng thống kê chi tiết
        </div>
        <div class="card-body">
            <table class="table table-primary table-striped">
                <thead>
                    <tr>
                        <th>Tên Cụm Rạp</th>
                        <th>Doanh thu (VND)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CumRap.TenRap</td>
                            @{
                                var doanhThu = "0";
                                if(item.DoanhThu > 0)
                                {
                                    doanhThu = @String.Format("{0:0,0}", item.DoanhThu);
                                }
                             }
                            <td>@doanhThu</td>
                        </tr>
                    }
                    <tr>
                        <td style="float:right"><b>Tổng doanh thu</b></td>
                        @{
                                var tongDoanhThu = "0";
                                if(ViewBag.TongDoanhThu > 0)
                                {
                                    tongDoanhThu = @String.Format("{0:0,0}", ViewBag.TongDoanhThu);
                                }
                         }
                        <td><b>@tongDoanhThu</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Trở về</a>
</div>
<script src="~/js/chart.js"></script>
<script type="text/javascript">
    var chartSaleYear = document.getElementById('saleYear').getContext('2d');
    var saleYear = new Chart(chartSaleYear, {
        type: 'bar',
        data:{
            labels: @Html.Raw(Json.Serialize(ViewBag.TenRaps)),
            datasets:[{
                label: 'Doanh thu',
                data:@Html.Raw(Json.Serialize(ViewBag.DoanhThu)),
                backgroundColor: 'rgba(6, 128, 249)',
                borderColor: 'rgba(6, 128, 250)',
                borderWidth:2,
                fill:true,
                lineTension: .4,
                showLine: true,
                startAngle: 0
            }]
        },
    })
</script>
