﻿@model VeDetailViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="padding-top padding-bottom">
        <div>
             <div class="row" style="padding-top: 20px; padding-left: 10px; padding-bottom: 20px">
                 <a asp-action="LichSuGiaoDich" asp-route-khachHangId="@Model.User.UserId" style="padding-left:10px; font-size: 25px">Lịch sử giao dịch</a>
             </div>
        </div>

        <h3>Thông tin chi tiết vé</h3>
        <hr />
        <div>
            <div style="padding-top:20px; padding-bottom:50px; padding-left: 10px">
            <h4>@Model.TenCumRap</h4>
            <p style="padding-top:5px">@Model.DiaChi</p>
            </div>
            <div class="row">
                <input asp-for="VeId" class="form-control" hidden />
                <div class="col-4">
                    <img src="~/posters/@Model.LichChieu.Phim.Anh" width=80% height=100% />
                </div>
                <div class="col-8">
                    <h3>@Model.LichChieu.Phim.TenPhim</h3>
                    <p style="padding-top:10px"><b>Thời lượng: </b>@Model.LichChieu.Phim.ThoiLuong phút</p>
                    <p><b>Xuất chiếu: </b>@Model.LichChieu.XuatChieu</p>
                    <p><b>Rạp: </b>@Model.TenRap</p>
                    <p><b>Vị trí: &nbsp
                        @foreach(var item in @Model.ChiTietVes){
                        <span>@item.ViTri &nbsp</span>
                    }  
                    </b></p>
                                     
                    <p><b>Khuyến mãi: @Model.LichChieu.PhanTramKM (%)</b></p>
                    <h4><b style="color:red">Tổng giá vé: @String.Format("{0:0,0}", @Model.TongGiaVe) VNĐ</b></h4>

                </div>
            </div>
        </div>
        <br />
    </div>
</div>

