﻿@model KhachHangViewModel
@{
    Layout = "_Layout";
}


<div class="container">
    <div class="padding-top padding-bottom" style="margin-top:20px">
        <div class="account-area" style="width:100%">
        <h4>THÔNG TIN TÀI KHOẢN</h3>
        <hr />
        <form asp-controller="Account" asp-action="TaiKhoan" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <h4>Email: @Model.Email</h4>
                <input asp-for="Email" class="form-control" hidden />
            </div>
            <h4 style="color: red">Điểm tích lũy: @Model.DiemThuong</h4>
            <div class="form-group">
                <label asp-for="HoTen" class="form-label" style="color: red"></label>
                <input type="text" asp-for="HoTen" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label" style="color: red"></label>
                <input asp-for="SoDienThoai" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label" style="color: red"></label>
                <input asp-for="DiaChi" class="form-control" />
            </div>
            <div  class="form-group" style="justify-items: center">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>
</div>





