﻿@model CreateCGVManagerViewModel

@{
    ViewData["Title"] = "Create";
    //string[] errorMessages = ViewBag.ErrorMessages;
}

<h1>Thêm mới tài khoản nhân viên</h1>
<hr />
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">       
            @ViewBag.ErrorMessage       
    </div>
}

<div class="row">
    <div class="col-md-12">
        <form asp-area="Admin" asp-controller="NhanVien" asp-action="Create" method="post" style="width:40%; background-color: lightblue; padding: 15px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="form-label"></label>
                <input type="text" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="LoaiTaiKhoan" class="control-label"></label>
               <input asp-for="LoaiTaiKhoan" class="form-control" value="Nhân Viên" readonly/>
            </div>
            <div>
               <input asp-for="CumRapId" class="form-control" hidden />
               <input asp-for="RoleName" class="form-control" value="Staff" hidden/>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Trở về</a>
            </div>
        </form>
    </div>
</div>





