﻿@model IEnumerable<CGVManagerViewModel>

@{
    ViewData["Title"] = "Index";
    var nextPage = (int)ViewBag.Page + 1;
    var prevPage = (int)ViewBag.Page - 1 < 0 ? 1 : (int)ViewBag.Page - 1;
    var disableNext = Model.ToList().Count() < 10 ? "disable" : "";
    var disablePrev = (int)ViewBag.Page == 1 ? "disable" : "";
}

<h1>Danh sách nhân viên</h1>
<hr />
<p>
    <a class="btn  btn-primary" asp-action="Create"><i class="fas fa-plus"></i>&nbsp Thêm mới</a>
</p>
@if (Model == null ||Model.Count()==0)
{
    <h1>Danh sách nhân viên trống!</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a class="nav-link text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-pen" style="font-size: x-large; color: darkcyan"></i>
                            </a>
                        <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown" style="left: -100px">
       
                                <li style="padding-left:20px">
                                     <i class="fa-solid fa-file-lines"></i>&nbsp Chi tiết
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-action="Delete" asp-route-id="@item.Id.Trim()"><i class="fa-solid fa-trash"></i>&nbsp Xóa</a>
                                </li>
                            </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
     <div class="btn-group mr-2" role="group" aria-label="First group">
         <a class="prev @disablePrev btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="NhanVien" asp-action="Index"  asp-route-index="@prevPage">&laquo;</a>

     </div>
     <div class="btn-group mr-2" role="group" aria-label="Second group">
         @for (int i = 1; i <= ViewBag.MaxPage + 1; i++)
         {
            if (@ViewBag.Page == i)
            {
                <a class="btn btn-white mr-2 btn-white-group activePage" style="border:0.6px solid green" 
             asp-controller="NhanVien" asp-action="Index" asp-route-index="@i">@i </a>
            }
            else
            {
                <a class="btn btn-white mr-2 btn-white-group" style="border:0.6px solid green" 
             asp-controller="NhanVien" asp-action="Index" asp-route-index="@i">@i </a>
            }
            
         }
     </div>
     <div class="btn-group" role="group" aria-label="Third group">
         <a class="next @disableNext btn btn-white btn-white-group" style="border:0.6px solid green" 
         asp-controller="NhanVien" asp-action="Index" asp-route-index="@nextPage">&raquo;</a>
     </div>
 </div>
