﻿@model IEnumerable<LichChieuViewModel>

@{
    ViewData["Title"] = "LichChieu";
    Layout = "_AdminLayout";
    var raps = ViewData["Raps"] as List<RapViewModel>;
}

<h1>@ViewBag.Phim.TenPhim</h1>
<hr />
<form asp-action="LichChieu" method="get" style="margin-top:10px">
    <input id="phimId" name="phimId" value="@ViewBag.Phim.PhimId" class="form-control" hidden />
    <div class="row">
        <div class="col-4">
            <input id="dateTime" name="dateTime" type="date" value="@ViewData["FindDatetime"]" class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" value="Tìm kiếm" class="btn btn-info form-control" />
        </div>
        <div class="col-4">
            <select id="rapId" name="rapId" class="form-control" >
                <option value="">-- Tất cả --</option>
                @foreach (var item in @raps)
                {
                    if (@item.RapId.Equals(@ViewBag.RapId))
                    {
                        <option value="@item.RapId" selected>@item.TenRap</option>
                    }
                    else
                    {
                        <option value="@item.RapId">@item.TenRap</option>
                    }
                }
            </select>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Ngày Chiếu
            </th>
            <th>
                Thời gian
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rap.TenRap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rap.LoaiRap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanTramKM)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        string ngayChieu = item.XuatChieu.ToString("dd/MM/yyyy");
                    }
                    @Html.DisplayFor(modelItem => ngayChieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XuatChieu.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rap.TenRap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rap.LoaiRap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhanTramKM)
                </td>
                <td>
                    <a href="" data-toggle="modal" data-target="#myModal"  onclick="document.getElementById('lichChieuId').value=@item.LichChieuId,
                            document.getElementById('phim').value=@ViewBag.Phim.PhimId" >Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-info">Trở về</a>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="LichChieu" asp-action="Delete" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" style="float: left">Xác nhận xóa</h4>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <h3>Bạn chắc chắn muốn xóa lịch chiếu này?</h3>
                    <input name="phim" id="phim" hidden/>
                    <input name="lichChieuId" id="lichChieuId" hidden />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@*<script src="~/js/CGV/lichChieu.js"></script>*@
@*<script>
    $(document).ready(function(){
        $(".open").click(function(){
            $('#lichChieuId').val($(this).data('id'));
        })
</script>*@
  }
