﻿@model List<RapGheViewModel>
@{
    Layout = "_AdminLayout";
}

<h1>@ViewBag.Rap.TenRap</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input name="rapId" value="@ViewBag.Rap.RapId" hidden />
            <div class="form-group">
                <h3>Loại Rạp</h3>
                <select id="loaiRap" name="loaiRap" class="form-select form-control">
                    <option selected=false value="@ViewBag.Rap.LoaiRap">@ViewBag.Rap.LoaiRap</option>
                    @if (@ViewBag.Rap.LoaiRap != "Rạp 2D")
                    {
                            <option value="Rạp 2D">Rạp 2D</option>
                    }
                    @if (@ViewBag.Rap.LoaiRap != "Rạp 3D")
                    {
                            <option value="Rạp 3D">Rạp 3D</option>
                    }
                    @if (@ViewBag.Rap.LoaiRap != "Rạp 4D")
                    {
                            <option value="Rạp 4D">Rạp 4D</option>
                    }

                </select>
            </div>
            <div class="row">
                <div class="col-4">
                    <h3>Loại ghế</h3>
                </div>
                <div class="col-4">
                    <h3>Đơn giá</h3>
                </div>
                <div class="col-4">
                    <h3>Số lượng</h3>
                </div>
            </div>

            <table class="table">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        @Html.TextBox("rapGhes[" + @i + "].RapId",
                    Model[i].RapId, new {@readonly="readonly", @class="form-control hidden" })

                        @Html.TextBox("rapGhes[" + @i + "].LoaiGheId",
                    Model[i].LoaiGheId, new {@readonly="readonly", @class="form-control hidden" })

                        @Html.TextBox("rapGhes[" + @i + "].LoaiGhe.LoaiGheId",
                    Model[i].LoaiGhe.LoaiGheId, new {@readonly="readonly", @class="form-control hidden" })

                        <td>
                            @Html.TextBox("rapGhes[" + @i + "].LoaiGhe.TenLoaiGhe",
                        Model[i].LoaiGhe.TenLoaiGhe, new {@readonly="readonly", @class="form-control" })
                        </td>
                        <td>
                            @Html.TextBox("rapGhes[" + @i + "].GiaGhe",
                        Model[i].GiaGhe, new {@type="number",@min=0, @class="form-control"})
                        </td>
                        <td>
                            @Html.TextBox("rapGhes[" + @i + "].SoLuongGhe",
                        Model[i].SoLuongGhe, new {@type="number",@min=0, @class="form-control"})
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <input type="submit" class="btn btn-primary" value="Cập nhật" />
                        @if(Context.Session.GetString("CumRapId") != null)
                        {
                            <a asp-action="Index" class="btn btn-info">Trở về</a>
                        }
                        else
                        {
                            <a asp-controller="CumRap" asp-action="Details" asp-route-cumRapId="@ViewBag.CumRapId" class="btn btn-info">Trở về</a>
                        }
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
