﻿@model IEnumerable<TicketBookingOnline.ViewModels.Comments.CommentViewModel>

@{
    ViewData["Title"] = "BinhLuanMoi";
    //if (Context.Session.GetString("CumRapId") == null)
    //{
    //    Layout = "_AdminLayout";
    //}
    //else
    //{
    //    Layout = "_CGVLayout";
    //}
}

<h1>Bình luận mới</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phim.TenPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGian)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phim.TenPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            <td>
                <a asp-action="ConfirmBinhLuan" asp-route-commentId="@item.CommentId">Xác Nhận</a>|
                 <a asp-action="DeleteBinhLuan" asp-route-commentId="@item.CommentId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-info">Trở về</a>
</div>
