﻿@model IEnumerable<KhachHangViewModel>

@{
    ViewData["Title"] = "KhachHangMoi";
    //if (Context.Session.GetString("CumRapId") == null)
    //{
    //    Layout = "_AdminLayout";
    //}
    //else
    //{
    //    Layout = "_CGVLayout";
    //}
}

<h1>Danh sách khách hàng mới</h1>
<hr /> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="ConfirmKhachHang" asp-route-userId="@item.UserId">Xác Nhận</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-info">Trở về</a>
</div>