﻿@model IEnumerable<TicketBookingOnline.ViewModels.Sliders.SliderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách hình quảng cáo</h1>
<hr/>
<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>
@if (Model.Count() == 0)
{
    <h1>Không có hình quảng cáo nào</h1>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                <img style="width:200px" height="130px" src="~/sliders/@item.Anh" alt=@item.Ten />
            </td>
            <td>
                <a class="nav-link text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-pen" style="font-size: x-large; color: darkcyan"></i>
                            </a>
                        <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown" style="left: -100px">
                            
                                <li>
                                    <a asp-action="Update" asp-route-slideId=@item.SlideId><i class="fa-solid fa-file-pen"></i>&nbsp Chỉnh sửa</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a href="" class="open" data-toggle="modal" data-target="#modalDelete"
                   onclick="document.getElementById('slideId').value=@item.SlideId"><i class="fa-solid fa-trash"></i>&nbsp Xóa</a>
                                </li>
                            </ul>
            </td>
        </tr>
}
    </tbody>
</table>
<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" role="dialog">
    <div class="modal-dialog">
        <form asp-controller="Slider" asp-action="Delete" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title" style="float: left">Xác nhận xóa</h4>
                    <button type="button" style="float: right" class="close" data-dismiss="modal">&times;</button>
                    <hr />
                    <h3>Bạn chắc chắn muốn xóa hình quảng cáo này?</h3>
                    <input name="slideId" id="slideId" hidden/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>
}

